@import "tailwindcss";

:root {
    --white-smoke: #faf9f6;
    --brand-black: #141210;
    --item-w: 75%;
    --item-w-full: 92%;
}

@theme inline {
    --color-background: var(--white-smoke);
    --color-foreground: var(--brand-black);
    --font-sans: var(--font-dm-sans);
    --font-serif: var(--font-bodoni);
}

@media (min-width: 768px) {
    :root {
        --item-w: 55%;
        --item-w-full: 85%;
    }
}

body {
    background-color: var(--white-smoke);
    color: var(--brand-black);
    font-family: var(--font-dm-sans), sans-serif;
    font-size: 14px;
    line-height: 1.5;
}

.nav-full {
    transition: opacity 0.15s ease 0.15s;
}

body.is-scrolled .nav-full {
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.15s ease 0s;
}

.section-name {
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.15s ease 0s;
}

body.is-scrolled .section-name {
    opacity: 1;
    pointer-events: auto;
    transition: opacity 0.15s ease 0.15s;
}